*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    width: 100%;
    height: auto;
    padding: 50px;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: none;
    background-attachment: fixed;
}

.container{
    max-width: 720px;
    margin: 3.125rem auto;
}

header{
    text-align: center;
    margin: 0px 0px 30px;
}

header h1{
    font-size: 32px;
}

p{
    font-size: 18px;
    font-style: italic;
}

form{
    width: 100%;
    background-color: #1b1b32cc;
    padding: 40px;
}

.title,label,button{
    padding: 0 0 8px;
    color: #f3f3f3;
}

label{
    display: block;
}

div{
    margin: 0px 0px 20px;
}

label{
    display: flex;
    align-items: center;
}

input,select{
    width: 100%;
    height: 2.375rem;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
}

input[type=radio],input[type=checkbox]{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}

textarea{
    width: 100%;
    height: 120px;
    color: #495057;
    padding: 10px;
}

button{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #37af65;
    border: none;
    border-radius: 3px;
}