*{
    box-sizing: content-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-transform: uppercase;
    background-color: #0a0a23;
    color: #fff;
    padding: 32px;
    text-align: center;
    border-bottom: 4px solid #fdb347;
    text-align: center;
}

.gallery{
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
}

.gallery::after{
    content: "";
    width: 350px;
}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}